body {
	font-family:Arial;
	font-size: 12px;
	/*background-color: #E6E8FA;*/
	background: url(../images/wallpaper-1908939.jpg);
	color: #aaaaaa;
}

span.time {
	font-size: 10px;
	color: #090909;
}

#new_link_form {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 680px;
	font-size: 16px;

}

#new_link_form.heading {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #aaaaaa;
}

#new_link_form form {
	background-color: #454545;
	padding: 10px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
}

#new_link_form form label {
	color: #11151E;
}

#new_link_form form input[type=text],input[type=password] {
	width: 300px;
	padding: 3px;
	border: 1px solid #FFF;
}

#new_link_form form input[type=submit] {
	display: block;
	margin: auto;
	width: 200px;
	font-size: 18px;
	background-color: #FFF;
	border: 1px solid #BBB;

}

#new_link_form form input[type=submit]:hover {
	border-color: #000;
}

#new_link_form .error {
	font-size: 13px;
	color: #690C07;
	font-style: italic;
}


#new-link-button {
	width: 200px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	background-color: #FFFFFF;
	border: none;
	padding-top: 10px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#new-link-button a {
	color: black;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 10px 48px 10px 51px;
}
#new-post-button {
	width: 200px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;	
	background-color: #FFFFFF;
	border: none;
	padding-top: 10px;
}
#new-post-button a {
	color: black;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 10px 70px 10px 65px;
}

#new-post-button:hover {

	-moz-box-shadow: 0 0 3px 3px #EEE;
	-webkit-box-shadow: 0 0 3px 3px #EEE;
	box-shadow: 0 0 3px 3px #EEE;
	
}

#top-bar {
	width: 100%;
	margin: 0px;
	position:absolute;
	top: 0;
	left: 0;
	padding: 0px;
	height: 14px;
	display: block;
	text-align: center;
	background-color: rgba(0,0,0,.2);

}

#top-bar a{
	color: #FFF;
}

#top-bar p{
	color: #FFF;
	margin:0px;
	padding:0px;
}
#container1 {
	float: left;
	width: 75%;
}

#container2 {
	float: right;
	width: 25%;
}

#container3 {
	float: right;
	width: 67%;
}


#container3 .link-box {
	height:14px;
	width:55px;
	padding:0px;
	margin:0px;
	font-family: 'Anaheim', sans-serif;
	float:left;

}

#top-bar p {
	margin-top:-1px;
}

#container3 .link-box p a {
	padding:0px 6px;
	font-weight:normal;
}

#container3 .feed-link {
	background-color:#282A2E;
}
#container3 .blog-link {
	background-color:#A54242;
}
#container3 .profile-link {
	background-color:#DE935F;
}
#container3 .tags-link {
	background-color:#8C9440;
}
#container3 .users-link {
	background-color:#5E8D87;
}
#container3 .saved-link {
	background-color:#5F819D;
}
#container3 .settings-link {
	background-color:#85678F;
}
#container3 .about-link {
	background-color:#969896;
}


#user_control_box{
	float: left;
	width: 50%;
}

#logout {
	float: right;
	width: 50%;
}
#link-input {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#link-input form input[type=textarea] {
	padding: 8px;
	border: 1px solid #040404;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#mashtagg {
	float: left;
	width: 25%;
	font-size:12px;
	margin-top:-1px;
	padding: 0px;
}

#mashtagg p{
	margin: 0px;
	padding: 0px;
}

#mashtagg a {
	color: #FFFFFF;
	font-weight: normal;
}

#mashtagg a:visited {
	text-decoration:none;
}
#mashtagg a:hover {
	text-decoration:none;
}
#mashtagg a:active {
	text-decoration:none;
}
#mashtagg a:link {
	text-decoration:none;
}



#spool {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	padding: 10px 10px 10px 10px;
	width: 700px;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	position: relative;
	
	border: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#spool p{
	margin-top:0px;
	margin-bottom:0px;
	font-size: 12px;
}

#spool li{
	margin-top:3px;
	margin-bottom:3px;
}

#spool li a {
	
	color: #BD2031;
	
}

#settings-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	margin-bottom: 100px;
	padding: 0;
	width: 850px;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	position: relative;	
	border: none;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

#settings-container h2{
	color: #BD2031;
}
#settings-inner {
	padding: 10px
}

#settings-inner form input[type=text], #settings-inner form input[type=password] {
	width: 200px;
	font-weight: bold;
	padding: 8px;

	border: 1px solid #AAA;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#tab-container {
	height:30px;
	margin-top:20px;
	background-color:rgba(0,0,0,.2);
}



a {
	color: #000;
	text-decoration: none;
}



a:hover {
	color: #aaaaaa;
}

input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}

#login-outer-container {
	margin-left: auto;
	margin-right: auto;
	width:800px;
}

.login-boxes {
	width:346px;
	height:344px;
	background:url(../images/squares.png);
}

#logo {
	width:249px;
	height:50px;
	background:url(../images/logo2.png);
}

#signup_form {
	margin-left:330px;
	margin-top:-71px;
	width:321px;
	
	font-size: 16px;
}

#signup_form .heading {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #454545;
}

#signup_form p {
	margin:0px 0px 10px 0px;
}

#signup_form form {

	background-color: rgba(0,0,0,.5);
	padding: 30px;

}

#signup_form form label {
	color: #FFF;
}

#signup_form form input[type=text], #signup_form form input[type=password] {
	font-size:12px;
	height:20px;
	width: 250px;
	padding: 3px;
	border: 1px solid #CCC;
	background-color:#FFF;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#signup_form form input[type=submit] {
	cursor:pointer;
	float:right;
	background:#FF5DB1;
	background:-moz-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#FF5DB1),color-stop(100%,#E94A86));
	background:-webkit-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-o-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:-ms-linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	background:linear-gradient(top,#FF5DB1 0%,#E94A86 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF5DB1',endColorstr='#E94A86',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #E8124F
}

#signup_form form input[type=submit]:hover {
	border-color: #000;
}

#signup_form form input[type=submit]:active {
	border-color: #FFF;
}

#signup_form a {
	font-weight:normal;
	font-size:12px;
	text-decoration:underline;
}

#signup_form .submit-forgot-container {
	margin:0px;
	border-bottom: 1px dashed #FFF;
	padding:0px 0px 15px 0px;
	width:260px;
}

#signup_form .signup-container {
	padding-top:15px;
	width:257px;
}

#signup_form .signup-container p {
	color:#FFF;
	margin-bottom:17px;
	font-size:13px;
}

#signup_form .signup-container .signup-button {
	margin-left:174px;
	cursor:pointer;
	text-decoration:none;
	background:#C967BB;
	background:-moz-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#C967BB),color-stop(100%,#9C468F));
	background:-webkit-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-o-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-ms-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:linear-gradient(top,#C967BB 0%,#9C468F 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C967BB',endColorstr='#9C468F',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #C21FA9
}

#signup_form .signup-container .signup-button:hover {
	border-color: #000;
}

#signup_form .signup-container .signup-button:active {
	border-color: #FFF;
}

#signup_form .signup-form .cancel-signup {
	width:41px;
	cursor:pointer;
	text-decoration:none;
	background:#C967BB;
	background:-moz-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#C967BB),color-stop(100%,#9C468F));
	background:-webkit-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-o-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:-ms-linear-gradient(top,#C967BB 0%,#9C468F 100%);
	background:linear-gradient(top,#C967BB 0%,#9C468F 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C967BB',endColorstr='#9C468F',GradientType=0);
	padding:6px 7px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:12px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #C21FA9
}

#signup_form .signup-form .cancel-signup:hover {
	border-color: #000;
}

#signup_form .signup-form .cancel-signup:active {
	border-color: #FFF;
}

#signup_form .signup-form .button-container {
	margin-top:15px;
}

#signup_form .error {
	font-size: 14px;
	color: #FFF;
	font-style: italic;
}

#blog-outer-container {
	margin:50px auto;
	width:765px;
}

#blog-content-container .first-post {
	margin-top:0px;
}

#blog-content-container {
	float:left;
	width: 500px;
	display: block;
	padding: 5px;
	background-color:rgba(0,0,0,.2);
}

#blog-author-container {
	width:240px;
	float:right;
	padding:0px;
	margin:0px;
}

#blog-author-container .portrait-container {
	margin:0px;
	padding:0px;
	background-color:rgba(0,0,0,.2);
}

#blog-author-container .portrait-container img {
	width:240px;
	padding:0px;
	margin:0px;
}

#blog-author-container .button {
	color:#FFF;
	width:220px;
	margin:0px;
	padding:10px;
	cursor:pointer;
}

#blog-author-container .posts-button {
	background-color:rgba(165,66,66,.5);
}

#blog-author-container .pictures-button {
	background-color:rgba(222,147,95,.5);
}

#blog-author-container .comments-button {
	background-color:rgba(140,148,64,.5);
}

#blog-author-container .shares-button {
	background-color:rgba(94,141,135,.5);
}

#blog-author-container .starred-button {
	background-color:rgba(95,129,157,.5);
}

#blog-author-container .posts-button:hover:hover {
	background-color:rgba(165,66,66,1);
}

#blog-author-container .pictures-button:hover {
	background-color:rgba(222,147,95,1);
}

#blog-author-container .comments-button:hover {
	background-color:rgba(140,148,64,1);
}

#blog-author-container .shares-button:hover {
	background-color:rgba(94,141,135,1);
}

#blog-author-container .starred-button:hover {
	background-color:rgba(95,129,157,1);
}

#post_container {
	
	width: 1000px;
	margin:50px auto;
	padding: 5px;
	background-color:rgba(0,0,0,.2);
}

#post_container .post-header {
	background-color:rgba(0,0,0,.2);
}

#post_container .post-header h3 {
	margin:0px;
	color:#FFF;
	text-shadow: 2px 2px 2px #000;
}

#post_container .post-header h3 a{
	color:#FFF;
}

#post_container .post-header .left-side {
	float:left;
	padding:5px;
}

#post_container .post-header .left-side .username-holder {
	text-align:center;
	float:left;
	width:121px;
}

#post_container .post-header .left-side .title-holder {
	float:left;
	padding-left:30px;
	border-left:1px dashed #FFF;
}

#post_container .post-header .right-side {
	float:right;
}

#post_container .post-header .right-tab {
	margin:0px;
	float:right;
	padding:7px 5px;
	cursor:pointer;
}

#post_container .post-header .selected {
	background-color:#FFF;
	cursor:default;
}

.outer-post-container:hover {
	background-color:#FAFAFA;
	border:1px solid #A0A0A0;
}

.post-container h2 a{
	color: #000;
}

.post-container h2 a:hover{
	color: grey;
	text-decoration:underline;
}

.post-container a{
	color: #444444;
}

.post-container a:hover{
	color: #666666;
}

.outer-post-container {
	border:1px solid #FFF;
	background-color:white;
	margin:5px 0px 0px 0px;
}

.post-container h2 {
	color: #BD2031;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
}

p.author {
	margin-top:0px;
	margin-bottom:0px;
	font-size: 10px;
}

.post-container {
	min-height: 51px;
	padding: 5px 5px 0px 5px;
	margin: 0px 0px 0px 0px;
}

.little-post-container {
	min-height: 60px;
	background-color: #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	padding: 0px 15px 5px 5px;
	margin: 0px 0px 0px 125px;
	width: 625px;
}

.little-post-container:hover{
	-webkit-box-shadow:inset 0px 0px 5px #EEE;
	-moz-box-shadow:inset 0px 0px 5px #EEE;
	box-shadow:inset 0px 0px 5px #EEE;
}

.little-post-container a{
	color: #444444;
}

.little-post-container a:hover{
	color: #666666;
}

.post-container-1 {
	min-height: 20px;
	padding: 20px;
	margin: 0px 0px 0px 125px;
}

.post-container-1 h2 {
	
	color: #BD2031;
	font-size: 18px;
	margin: 5px 0px 0px 0px;
	
}

.post-container-1 h2 a{
	color: #BD2031;
}

.profile-top {

	background-color: #FFFFFF;
	border-bottom: 1px solid #EEEEEE;
	padding: 15px 15px 15px 15px;
	margin-top: 0px;
	margin-left: 125px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	height: 2px;
	width: 615px;

}

.profile-bottom {

	background-color: #FFFFFF;
	padding: 0px 15px 15px 15px;
	margin-left: 125px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	height: 30px;
	width:615px;

}

#post-form-container {
	display: none;
	position: absolute;
	top: 150px;
	background-color: #FFFFFF;
	width: 700px;
	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 11px #BBB;
	-moz-box-shadow:    0px 0px 11px #BBB;
	box-shadow:         0px 0px 11px #BBB;
}

#post-form-container input[type="text"] {
	
	width: 200px;
	font-weight: bold;
	padding: 8px;

	border: 1px solid #AAA;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	

}

#post-form-container a {
	
	color: #BD2031;
	
}

ul {
	list-style-type: none;
}

.settings-menu-item {
	background-color: white;
	color: black;
	border-top: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-left: 1px solid #AAA;
	padding: 8px 8px 5px 8px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.settings-menu-item:hover {

	background-color: #EEE;

}

.settings-menu-item a {
	padding: 8px 8px 6px 8px;
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.settings-active-menu-item {
	font-weight: bold;
	text-decoration: bold;
	color: black;
	padding: 8px 8px 6px 8px;
	background-color: white;
	border-top: 1px solid #AAA;
	border-right: 1px solid #AAA;
	border-left: 1px solid #AAA;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.menu-item {
	color: black;
	float:right;
	padding-top:7px;
	padding-bottom:7px;
}

.menu-item:hover {

	background-color: #EEE;

}

.menu-item a {
	padding: 8px 8px 6px 8px;
	text-decoration: none;
	color: black;
	font-weight: normal;
}

.active-menu-item {
	float:right;
	font-weight:bold;
	color: black;
	padding: 8px 8px 6px 8px;
	background-color: white;
}

.label {

	float: left;
	width: 120px;
	text-align: right;
	padding-top: 10px;
	color: #333;

}

.fixed {
	margin: 20px 0 20px;
}

.input {
	margin-left: 140px;
}
.input-checkbox {
	margin-left: 140px;
	padding-top: 10px;
}

.comments {
	margin: 0px 0px 2px 0px;
	color: #000;
	font-size: 10px;
	font-family:Arial, sans-serif;
	display: none;
	text-decoration:none;
	font-weight:normal;
}

.comments a {
	color: #000;
	font-size: 10px;
	font-family:Arial, sans-serif;
	text-decoration:none;
	font-weight:normal;
}

.comments a:hover {
	text-decoration:underline;
}

.little-comments {
	margin: 0 0 0 15px;
	color: #000;
	font-size: 10px;
	display: none;
}

.picture {
	float: left;
	background-position:top left;
	background-repeat: no-repeat;
	text-align: right;
	margin:15px 0px 15px 15px;
	padding-right:15px;
	border-right:1px dashed #C7C7C7;
}

.picture a {
	color: #000;
}

.picture a:hover {
	color: #777;
}

.picture img {
	width:96px;
	height:96px;
}
.edit {

	float: right;
	margin-top: 10px;
}

.body {
	color: #777777;
	margin:5px 0px 5px 0px;
}

.little-body {
	color: #777777;
}

.close {

	position: absolute;
	top: 5px;
	left: 680px;

}

.new_user a{
	color: #444;
	
}

.new_comment_submit {
	margin: 15px;
}

#comment-container {
	background:#FAFAFA;
}

#comment-container .odd-comment {
	background-color:#FAFAFA;
}

#comment-container .even-comment {
	background-color:#FFF;
}

#comment-container .outer-comment-container {
	border:1px solid #DDD;
	border-bottom:0px;
	padding:5px 5px 1px 5px;
}

.new-comment-container {
	
	padding-left: 30px;

}



.inner-comment-container {
	margin-left: 30px;
}

.new_comment_input{
	margin: 15px 15px 0px 0px;
}

.new_comment {
	margin: 15px 15px 15px 0px;
}

.input_container {
	display: none;
}

.hidden {
	display: none;
}

.visible {
	display: block;
}

#tabs {

	list-style-type:none;
	margin: 0;
	float:right;	

}

#tabs li {
	display: inline;
}

#tabs p{
	margin: 0;
	padding: 0;
}

.reply {
	margin: 0px 5px 5px 0px;
}

.reply a {
	color: #444444;
	font-size: 10px;
	
}

.add_comment {

	margin: 0;

}

.comment_body {
	margin: 0px;
}

.comment_author a {
	color: #444444;
	font-size: 10px;	
}

.comment_author a:hover {
	text-decoration: underline;
}

.reply a:hover {
	text-decoration: underline;
}

.comment_author {
	margin: 0 0 5px 0;
}

.comment_body {
	color: #777777;
}

.comment-rating {
	float: left;
}

.upvote {
	color: black;
	text-align: center;
	margin: 0 0 0 5px;	
	font-size: 20px;
	cursor:pointer;	
}

.downvote {
	color: black;
	text-align: center;
	margin: 0 0 0 5px;	
	font-size: 25px;
	cursor:pointer;
}

.upvote:hover {
	background-color: #DDD;	
}

.downvote:hover {
	background-color: #DDD;	
}

.clicked_upvote {
	color: red;
	text-align: center;
	margin: 0 0 0 5px;	
	font-size: 20px;
	cursor:pointer;	
}

.clicked_downvote {
	color: red;
	text-align: center;
	margin: 0 0 0 5px;	
	font-size: 25px;
	cursor:pointer;
}

.clicked_upvote:hover {
	background-color: #DDD;	
}

.clicked_downvote:hover {
	background-color: #DDD;	
}

.disabled_upvote {
	color: grey;
	text-align: center;
	margin: 0 0 0 5px;	
	font-size: 20px;	
}

.disabled_downvote {
	color: grey;
	text-align: center;
	margin: 0 0 0 5px;	
	font-size: 25px;
}

/********************** Users page *****************************/

.content-container {
	margin:50px auto;
	padding:5px;
	width:900px;
	background-color: rgba(0,0,0,.2);
}

.content-container .user-header {
	background-color:rgba(0,0,0,.2);;
}

.content-container .user-header h3 {
	margin:0px;
	color:#FFF;
	text-shadow: 2px 2px 2px #000;
}

.content-container .user-header .left-side {
	float:left;
	padding:5px;
}

.content-container .user-header .right-side {
	float:right;
}

.content-container .user-header .right-tab {
	margin:0px;
	float:right;
	padding:7px 5px;
	cursor:pointer;
}

.content-container .user-header .selected {
	background-color:#FFF;
	cursor:default;
}

.content-container .user-header .unselected:hover {
	background-color: rgba(100,100,100,.5);
}

.users-outer-container {
	padding:20px;
	background-color:#FAFAFA;
}

.users-outer-container .user-filter-container {
	width:100%;
	margin-bottom:10px;
}

.users-outer-container .user-filter-container .search-label{
	margin:4px 0px;
	float:left;
}

.users-outer-container .user-filter-container .user-search-input {
	float:left;
}

.users-outer-container .users-inner-container {
	height:640px;
}

.users-outer-container .users-inner-container .user-column {
	float:left;
	height:640px;
}

.users-outer-container .user-pages-container {
	margin-top:20px;
}

.users-outer-container .user-pages-container .inner-pages-container {
	float:right;
	margin-right:13px;
	color:#787878;
}

.users-outer-container .user-pages-container .inner-pages-container .pagination-button {
	float:left;
	border: 1px solid #DCDCDC;
}

.users-outer-container .user-pages-container .inner-pages-container .page-number {
	background-color:#FFF;
	padding:4px;
	margin:2px;
}

.users-outer-container .user-pages-container .inner-pages-container .previous-button,
.users-outer-container .user-pages-container .inner-pages-container .next-button {
	background-color:#FFF;
	padding:4px;
	margin:2px;
}

.users-outer-container .user-pages-container .inner-pages-container .ellipses {
	padding:4px;
	margin:2px;
	border:0px;
}

.users-outer-container .user-pages-container .inner-pages-container .active {
	background-color:#FFF;
	padding:7px;
	margin:2px;
	color:#969696;
}

.user-container {
	width:179px;
	height:70px;
	margin:0px 10px 10px 0px;
	background-color:#FFF;
	border: 1px solid #DCDCDC;
}

.user-container .pic {
	height:60px;
	width:60px;
	float:left;
}

.user-container .pic img {
	height:50px;
	width:50px;
	margin:5px;
}

.user-container .info {
	float:left;
}

/********************** User Profile styles ********************/

.profile-container {
	margin:50px auto;
	padding:5px;
	width:1000px;
	background-color: rgba(0,0,0,.2);
}

.profile-container .profile-header {
	background-color:rgba(0,0,0,.2);
}

.profile-container .profile-header h3 {
	margin:0px;
	color:#FFF;
	text-shadow: 2px 2px 2px #000;
	padding:5px;
}

.profile-container .bio-container {
	height:267px;
	background-color:#FFF
}

.profile-container .bio-container .left-bio {
	float:left;
	width:200px;
	position:relative;
}

.profile-container .bio-container .left-bio img {
	width:200px;
	top:50%;
	bottom:50%;
	
}

.profile-container .bio-container .left-bio .influence-container {
	position:absolute;
	text-align:left;
	bottom:5px;
	left:5px;
	color:#FFF;
}

.profile-container .bio-container .left-bio .influence-container .influence-label {
	font-style:italic;
}

.profile-container .bio-container .left-bio .follow-container input {
	margin-left:50px;
	margin-top:10px;
}

.profile-container .bio-container .right-bio {
	margin:20px 0px;
	padding:0px 20px;
	float:left;
	width:259px;
	height:190px;
}

.profile-container .bio-container .right-bio p {
	margin:5px;
	color:#333333;
}

.profile-container .bio-container .about {
	width:460px;
	height:227px;
	padding:20px;
	float:left;
	background-color:#F5F5F5;
	font-family: 'Lato', sans-serif;
	font-size:30px;
}

.profile-container .bio-container .about p {
	color:#333333;
	margin:0px;
	font-style:italic;
}

.profile-container .summary-container {
	width:1000px;
	background:#FFF;
	margin-top:5px;
}

.profile-container .summary-container .summary-row {
	height:250px;
}

.profile-container .summary-container .summary-row h3 {
	color:#333333;
	margin:0px 0px 10px 0px;
	border-bottom:1px solid #C7C7C7;
}

.profile-container .summary-container .summary-row .left {
	margin:20px 0px;
	padding:0px 20px;
	float:left;
	width:459px;
	border-right:1px dashed #C7C7C7;
	height:210px;
}

.profile-container .summary-container .summary-row .right {
	width:460px;
	height:210px;
	padding:20px;
	float:left;
}

.profile-container .summary-container p {
	margin: 6px 0px;
}

.profile-container .summary-container p a:hover {
	text-decoration:underline;
	color:#555;
}

.loading-gif {
	margin:10px;
	height:32px;
	width:32px;
	background:url(../images/loading.gif);
}