body {
	font-family:Arial;
	font-size: 14px;
	background-color: #E6E8FA;
	color: #aaaaaa;
}

span.time {
	font-size: 10px;
	color: #090909;
}

#new_link_form {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 680px;
	font-size: 16px;

}

#new_link_form.heading {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #aaaaaa;
}

#new_link_form form {

	background-color: #4380D3;
	padding: 10px;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

}

#new_link_form form label {
	color: #11151E;
}

#new_link_form form input[type=text],input[type=password] {
	width: 500px;
	font-weight: bold;
	padding: 8px;

	border: 1px solid #FFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#new_link_form form input[type=submit] {
	display: block;
	margin: auto;
	width: 200px;
	font-size: 18px;
	background-color: #FFF;
	border: 1px solid #BBB;

}

#new_link_form form input[type=submit]:hover {
	border-color: #000;
}

#new_link_form .error {
	font-size: 13px;
	color: #690C07;
	font-style: italic;
}


#new-link-button {
	width: 200px;
	height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	background-color: #FFFF33;
	border: 1px solid #000000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
#new-link-button a {
	color: black;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

#top-bar {
	width: 100%;
	margin: 0px;
	position:absolute;
	top: 0;
	left: 0;
	padding: 0px
	height: 40px;
	display: block;
	text-align: center;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.24, rgb(36,36,36)),
		color-stop(0.62, rgb(66,66,66))
		);

}
#link-input {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#link-input form input[type=textarea] {
	padding: 8px;
	border: 1px solid #040404;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#spindlous {
	float: left;
	width: 25%;
	font-size:18px;
	margin: 0px;
	padding: 0px;
}

#spindlous p{
	margin: 0px;
	padding: 10px;
}

#spindlous a {
	color: #FFFFFF;
	font-weight: bold;
}

#spindlous a:visited {
	text-decoration:none;
}
#spindlous a:hover {
	text-decoration:none;
}
#spindlous a:active {
	text-decoration:none;
}
#spindlous a:link {
	text-decoration:none;
}

#container1 {
	float: left;
	width: 75%;
}

#container2 {
	float: right;
	width: 25%;
}

#container3 {
	float: right;
	width: 75%;
}

#user_control_box{
	float: left;
	width: 50%;
}

#logout {
	float: right;
	width: 50%;
}

#spool {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 700px;
	background-color: #FFFFFF;
	color: #000000;
	font-size: 14px;
	position: relative;
	
	border: 1px solid #000000;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#spool p{
	margin-top:0px;
	margin-bottom:0px;
	font-size: 12px;
}

#spool li{
	margin-top:3px;
	margin-bottom:3px;
}



a {
	color: #FFCA40;
	font-weight: bold;
}

a:hover {
	color: #aaaaaa;
}

input, textarea, select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}

#signup_form {
	margin-left: auto;
	margin-right: auto;
	width: 360px;

	font-size: 16px;

}

#signup_form .heading {
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	color: #aaaaaa;
}

#signup_form form {

	background-color: #4380D3;
	padding: 10px;

	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;

}

#signup_form form label {
	color: #11151E;
}

#signup_form form input[type=text],input[type=password] {
	width: 316px;
	font-weight: bold;
	padding: 8px;

	border: 1px solid #FFF;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

#signup_form form input[type=submit] {
	display: block;
	margin: auto;
	width: 200px;
	font-size: 18px;
	background-color: #FFF;
	border: 1px solid #BBB;

}

#signup_form form input[type=submit]:hover {
	border-color: #000;
}

#signup_form .error {
	font-size: 13px;
	color: #690C07;
	font-style: italic;
}


